{%extends 'base.html'%}
{%block title%} About page{%endblock%}
{%block content%}
<div id="section-about">
    
   <a href="{%url "home_page"%}"> <svg xmlns="http://www.w3.org/2000/svg" width="" height="" fill="#47c6ed" class="bi bi-arrow-left-circle-fill back ml-2 mt-2" onclick="display('sectionhome')" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
    </svg>
</a>
    <h1 style="color:#4f4b4a" class="d-none d-md-block m-3">About Digital Zoological park</h1>
    <h5 style="color:#4f4b4a" class=" d-md-none m-2">About Digital Zoological park</h5>
    <p style="color:#7227b3; font-size:16px;" class=" d-md-none m-2 ml-3">A virtual zoo is a new concept that uses the zoo model in a web format. Virtual zoos are basically websites that are created to simulate a visit to a zoo, and the visitors to these sites can view exhibits about animals and their habitats. Many Zoos as well as schools have developed virtual zoos. For example, instead of actual animals a virtual zoo will have articles and photos as exhibits. There are many virtual zoos that have been created; most are small and unremarkable, while some have hundreds of exhibits. </p>
    <p style="color:#7227b3; font-size:16px;" class=" d-md-none m-2 ml-3">this website is prepared by <span style="color:green; font-weight:bold;">VIJAYKUMAR KOPPOJU </span>to create awareness of some animals by the people instead of visiting the Zoological park .</p>
    <p style="color:#7227b3; font-size:22px;" class="d-none d-md-block m-2 mt-3 ml-3">A virtual zoo is a new concept that uses the zoo model in a web format. Virtual zoos are basically websites that are created to simulate a visit to a zoo, and the visitors to these sites can view exhibits about animals and their habitats. Many Zoos as well as schools have developed virtual zoos. For example, instead of actual animals a virtual zoo will have articles and photos as exhibits. There are many virtual zoos that have been created; most are small and unremarkable, while some have hundreds of exhibits.</p>
    <p style="color:#7227b3; font-size:22px;" class="d-none d-md-block m-2 mt-3 ml-3">this website is prepared by <span style="color:green; font-weight:bold;">VIJAYKUMAR KOPPOJU </span>to create awareness of some animals by the people instead of visiting the Zoological park .</p>
    {%endblock%}
    {%block contact%}
    <div id="contact-us8" class="contact-card p-3 mt-5 fixed-bottom">
        <h4 style="color:#ffffff; font-weight:bold;" class="">Contact us</h4>
        <div class="d-flex flex-row justify-content-center mt-3">
            <div class="icon-card p-2 mr-3">
                <a href="mailto:vijaykumar0917@gmail.com" target="-blank"><i style="color:#ffffff; " class="fa-brands fa-google"></i></a>
            </div>
            <div class="icon-card p-2 mr-3">
                <a href="https://instagram.com/_v_i_j_j_u_k_?igshid=YmMyMTA2M2Y=" target="_blank"> <i style="color:#ffffff;" class="fa-brands fa-instagram"></i></a>
            </div>
            <div class="icon-card p-2 mr-3">
                <a href="https://www.facebook.com/profile.php?id=100082953970109" target="-blank"><i style="color:#ffffff;" class="fa-brands fa-facebook"></i></a>
            </div>
            <div class="icon-card p-2 mr-2">
                <a href="https://api.whatsapp.com/send/?phone=%2B918008467592&text&type=phone_number&app_absent=0" target="_blank"><i style="color:#ffffff;" class="fa-brands fa-whatsapp"></i></a>
            </div>

        </div>
        <hr style="background-color:white; width:95%;" />
        <h5 style="color:#edf7fa; margin:20px;"> HTML, CSS, BOOTSTRAP- 8008467592</h5>
    </div>
    {%endblock%}
</div>