{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href='{% static 'styles.css' %}'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/efb537b448.js" crossorigin="anonymous"></script>
    <title>Zoopark</title>
</head>

<body>
    <div id="section-mainpage" class="bg-mainpage  text-center ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 d-md-none">
                    <h1 class=" main-page-heading-section pt-5" style="font-weight:bold;">DIGITAL ZOOLOGICAL PARK</h1>
                    <h5 style="color:blue; padding-bottom:0px; font-weight:bold;">Vk <span class="text-blue"> -Services</span></h5>
                </div>
                <div class=" d-none d-md-block col-md-12 ">
                    <h1 class=" main-page-heading-section1 pt-5" style="font-weight:bold;">DIGITAL ZOOLOGICAL PARK</h1>
                    <h1 style="color:blue;font-weight:bold;">VK <span class="text-blue"> -Services</span></h1>
                </div>
            </div>

        </div>
        <div class="mb mt-auto ">
            <a href = "{% url "home_page" %}"><button class="main-page-button w-30" onclick="display('sectionhome')">Start</button></a>
        </div>
    </div>
</body>
</html>