{%extends "base.html"%}
{%block content%}

    <a href="{{page}}">
    <svg xmlns="http://www.w3.org/2000/svg" width="" height="" fill="#47c6ed" class="bi bi-arrow-left-circle-fill back ml-2 mt-2" onclick="display('section-mammal')" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
    </svg>
</a>
    <h1 style="color:#4c5670; font-weight:bold;" class="ml-2 d-none d-md-block d-lg-none">{{animal.title|title}}</h1>
    <h1 style="color:#4c5670; font-weight:bold; font-size:60px;" class="ml-4 mb-3 d-none d-lg-block ">{{animal.title|title}}</h1>
    <p style="color:#4c5670; font-weight:bold; font-size:26px" class="ml-2 mb-2 d-md-none">{{animal.title|title}}</p>
    <div class="{{animal.slug|add:"-lg"}} d-none d-lg-block shadow-lg text-lg-80">
        <h1 style="color:white">
            {{animal.info}}
        </h1>
    </div>
    <div class="{{animal.slug|add:"-mb"}}  d-none d-md-block d-lg-none shadow ">
        <p style="color:white">
            {{animal.info}}
        </p>
    </div>
    <div class="{{animal.slug|add:"-mb"}} d-md-none shadow d-flex flex-column justify-content-end">
        <p style="color:white">
            {{animal.info}}
        </p>
    </div>
    <h1 style="color:#4c5670; font-weight:bold;" class="ml-2 d-none d-md-block d-lg-none">More info</h1>
    <h1 style="color:#4c5670; font-weight:bold; font-size:60px;" class="ml-4 mb-3 d-none d-lg-block ">More info</h1>
    <p style="color:#4c5670; font-weight:bold; font-size:26px" class="ml-2 mb-2 d-md-none">More info</p>
    <div class="d-flex flex-row justify-content-center">
        <div class="embed-responsive embed-responsive-16by9 w-40 m-2" style="border-radius:14px;">
            <iframe class="embed-responsive-item" src="{{animal.video1}}" allowfullscreen></iframe>
        </div>
        <div class="embed-responsive embed-responsive-16by9 w-30 m-2" style="border-radius:14px;">
            <iframe class="embed-responsive-item" src="{{animal.video2}}" allowfullscreen></iframe>
        </div>
    </div>
    
{%endblock%}